<template>
	<nav class="navbar navbar-light bg-faded m-b-2">
	  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
	    &#9776;
	  </button>
	  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
	    <router-link class="navbar-brand" to="/">Sage 300</router-link>
	    <ul class="nav navbar-nav">
	      <li class="nav-item">
	        <router-link class="nav-link" to="/">Home <span class="sr-only">(current)</span></router-link>
	      </li>
	      <li class="nav-item">
	        <router-link class="nav-link" to="/test">Test</router-link>
	      </li>
	      <li class="nav-item">
	        <router-link class="nav-link" :to="{ name: 'blog' }">Blogue</router-link>
	      </li>
	    </ul>
	  </div>
	</nav>
</template>