<template>
  <div id="blog">
    <navigation></navigation>
		<post></post>
  </div>
</template>

<script>
import Navigation from './Navigation'
import Post from './Post'

export default {
  components: {
    'navigation': Navigation,
    'post': Post
  },
  data () {
    return {
      show: false
    }
  }
}
</script>

<style lang="stylus">
</style>