<template>
  <div id="blog-navigation">
    <nav class="nav nav-inline bg-info p-a-1 m-b-1 text-center">
      <a class="nav-link" 
        v-bind:class="[ activeCat == 0 ? 'active' : '']"
        @click="changeCat(0)">Tous</a>
      <a class="nav-link"
        v-bind:class="[ category.id == activeCat ? 'active' : '']"
        v-for="category in categories"
        @click="changeCat(category.id)">
        {{ category.name }}
      </a>
    </nav>
    <div v-bind:class="[{ 'col-lg-2': post.content, 'col-lg-12': !post.content }]">
  		<nav class="nav nav-pills nav-stacked">
        <router-link class="nav-link"
          v-for="post in posts"
          :to="{ name: 'blog-post', params: { id: post.id , slug:post.slug } }">
          {{ post.title }}
        </router-link>
  		</nav>
      <nav>
        <ul class="pagination">
            <li class="page-item"
                v-if="pagination.current_page > 1">
                <a class="page-link"
                   href="#" aria-label="Previous"
                   @click.prevent="changePage(pagination.current_page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                v-for="page in pagesNumber"
                v-bind:class="[ page == isActived ? 'active' : '']">
                <a class="page-link" href="#"
                   @click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li class="page-item"
                v-if="pagination.current_page < pagination.last_page">
                <a class="page-link" href="#" aria-label="Next"
                   @click.prevent="changePage(pagination.current_page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
      </nav>
    </div>
    <div v-bind:class="[{ 'clearfix': !post.content }]"></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      activeCat: 0,
      categories: '',
      pagination: {
        current_page: 1,
        from: 1,
        last_page: 0,
        offset: 4,
        per_page: 7,
        to: 1,
        total: 0
      },
      posts: ''
    }
  },
  computed: {
    isActived: function () {
      return this.pagination.current_page
    },
    pagesNumber: function () {
      if (!this.pagination.to) {
        return []
      }
      var from = this.pagination.current_page - this.pagination.offset
      if (from < 1) {
        from = 1
      }
      var to = from + (this.pagination.offset * 2)
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page
      }
      var pagesArray = []
      while (from <= to) {
        pagesArray.push(from)
        from++
      }
      return pagesArray
    },
    ...mapGetters({
      post: 'getPost'
    })
  },
  methods: {
    changeCat: function (cat) {
      this.activeCat = cat
      this.pagination.current_page = 1
      this.fetchItems()
    },
    changePage: function (page) {
      this.pagination.current_page = page
      this.fetchItems()
    },
    fetchItems: function (page) {
      var data = {
        page: this.pagination.current_page,
        cat: this.activeCat
      }
      this.$http.get('post', { params: data }).then(function (response) {
        this.posts = response.body.data
        this.pagination.total = response.body.total
        this.pagination.per_page = response.body.per_page
        this.pagination.current_page = response.body.current_page
        this.pagination.last_page = response.body.last_page
      }, function (error) {
        console.log(error)
      })
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      // afficher catégories
      this.$http.get('category').then(function (response) {
        this.categories = response.body
      }, function (error) {
        console.log(error)
      })
      // faire afficher items du menu
      this.fetchItems(1)
    })
  }
}
</script>

<style lang="stylus" scoped>
.nav-link.router-link-active
  background-color #0275d8
  color #fff
  cursor default

a
  cursor pointer
  &.active
    color black
    &:hover
      color black
      
.text-center
  text-align center
</style>