<template>
  <div id="blog-post">
    <button type="button" class="close" aria-label="Close"
      v-bind:class="[ !post.title ? 'hidden-xs-up' : '']">
      <router-link aria-hidden="true" :to="{ name: 'blog' }">&times;</router-link>
    </button>
    <h2>{{ post.title }}</h2>
    <h4>{{ post.category_name }}</h4>
    <p>{{ post.created_at }}</a></p>
    <div v-html="post.content"></div>
    </p> 
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      posts: []
    }
  },
  computed: {
    ...mapGetters({
      post: 'getPost'
    })
  },
  watch: {
    '$route' (to, from) {
      this.$nextTick(function () {
        this.$store.dispatch('fetchPost', this.$route.params.id)
      })
    }
  },
  methods: {
    closePost: function () {
      this.$store.dispatch('fetchPost', 0)
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.$store.dispatch('fetchPost', this.$route.params.id)
    })
  },
  destroyed: function () {
    this.$store.dispatch('fetchPost', 0)
  }
}
</script>

<style lang="stylus">
a:hover
  text-decoration none
</style>