<template>
  <div id="test">
    <nav-bar></nav-bar>
  	<div class="container-fluid">
  		<router-view class="view" keep-alive>
  	</div>
  </div>
</template>

<script>
import NavBar from './components/Navbar'
import store from './store' // import the store we just created

export default {
  components: {
    'nav-bar': NavBar
  },
  store
}
</script>

<style lang="sass">
@import "../node_modules/bootstrap/scss/bootstrap";
</style>
